* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.5);
  text-align: center;
  width: 90%;
  max-width: 600px;
}

h2 {
  margin-bottom: 1.5rem;
  color: #00ffcc;
}

p {
  margin-bottom: 1.5rem;
}

button {
  background-color: #00ffcc;
  border: none;
  color: #0f0f0f;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(0, 255, 204, 0.7);
}
